<html lang="en" class="light-style layout-menu-fixed" dir="ltr"
	data-theme="theme-default" data-assets-path="../assets/"
	data-template="vertical-menu-template-free"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/layout}">


<div class="container-xxl flex-grow-1 container-p-y"
	layout:fragment="corpo">
	<div class="row">
		<div class="col-12 col-md-6 order-md-1 order-last">
			<h3>Tabela de Usuários</h3>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-12 mb-4 order-0">
			<div class="card">
				<div class="d-flex align-items-end row">
					<div class="card-body">
						<div>
							<a href="/usuario/cadastrarusuarios">
								<button type="button" class="btn btn-success">Cadastrar
									Usuários</button>
							</a>
						</div>

					</div>

					<section class="section">
						<div class="card">
							<div class="card-body">
								<table class='table table-striped' id="table1">
									<thead>
										<tr>
											<th>#</th>
											<th>Usuário</th>
											<th>Senha</th>
											<th>Ação</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="usuarios : ${listarusuarios}">
											<td th:text="${usuarios.id}"></td>
											<td th:text="${usuarios.login}"></td>
											<td th:text="${usuarios.senha}"></td>
											<td><a type="button" class="badge bg-success"
											th:href="@{/usuario/editarusuario/{id}(id=${usuarios.id})}">Editar</a> 
												<a
												type="button" data-toggle="modal"
												th:attr="data-target='#remover_'+${usuarios.id}"> <i
													class="badge bg-danger">Excluir</i>
												</a> 
											
											<!-- INICIO DO MODAL DE CONFIRMAÇÃO DE EXCLUSÃO-->
												<div class="modal fade" th:id="remover_+${usuarios.id}"
													tabindex="-1" role="dialog" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered"
														role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLongTitle">Confirmação</h5>
																<button type="button" class="close" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<p>Tem certeza que quer remover o usuário?</p>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-dismiss="modal">Não</button>
																<a type="button" class="btn btn-primary"
																	th:href="@{/usuario/deletarusuario/{id}(id=${usuarios.id})}">Sim</a>
															</div>
														</div>
													</div>
												</div></td>
											<!-- FIM DO MODAL -->
										</tr>

									</tbody>
								</table>
							</div>
						</div>

					</section>

					<div class="col-sm-5 text-center text-sm-left">
						<div class="card-body pb-0 px-0 px-md-4"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
</html>
