<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/layout}">


<div class="main-content container-fluid" layout:fragment="corpo">
	<div class="page-title">
		<div class="row">
			<div class="col-12 col-md-6 order-md-1 order-last">
				<h3>Cadastro de Funcionários</h3>
			</div>
		</div>

	</div>
	<div class="col-md-12"></div>
	<!-- Input Style start -->
	<section id="input-style">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<form action = "/salvarfuncionario" method="post" th:object = "${objfuncionarios}">
						
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="nome">Nome</label> <input type="text"
											id="nome" name="nome" class="form-control round" 
											placeholder="Nome" th:field=*{nome}>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="cpf">CPF</label> <input type="text" 
											id="cpf" name="cpf" class="form-control round"
											placeholder="CPF" th:field=*{cpf}>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="telefone">Telefone</label> <input type="text"
											id="telefone" name="telefone" class="form-control round" 
											placeholder="Telefone" th:field=*{telefone}>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="email">Email</label> <input type="text" 
											id="email" name="email" class="form-control round"
											placeholder="Email" th:field=*{email}>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="endereco">Endereço</label> <input type="text"
											id="endereco" name="endereco" class="form-control round" 
											placeholder="Endereço" th:field=*{endereco}>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="foto">Foto</label> <input type="text" 
											id="foto" name="foto" class="form-control round"
											placeholder="Foto" th:field=*{foto}>
									</div>
								</div>
							</div>
								<input type="hidden" id="id" name="id" th:field=*{id}>
							<div class="buttons">
								<button type="submit" class="btn btn-primary round">Salvar</button>
								<a class="btn btn-danger round" href="/funcionario/listarfuncionarios">
									Cancelar
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</html>
