<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
    	
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <title>Centro Educacional Paulo VI - Cadastro de aluno</title>

<style type="text/css">
	.navbar-brand {
		font-size: 25pt;
		font-family: inherit;
		font-weight: bold;
	}
	
	body {
		background: #BFEFFF;
	}
	
	p {
		color: #006400;
		font-size: 30pt;
		font-family: inherit;
		font-weight: bold;
	}
	
</style>    

     </head>
    <body id="page-top">
        <!-- Navigation-->
       <nav class="navbar navbar-dark bg-primary">
			  <div class="container-fluid">
			    <a class="navbar-brand" href="/index">CENTRO EDUCACIONAL PAULO VI</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			    <span>MENU</span>
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarText">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link active" aria-current="page" href="/cadastro/listaraluno">Alunos</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link active" href="/disciplina/disciplina">Resultados</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link active" href="/">Sair</a>
			        </li>
			      </ul>
			    </div>
			  </div>
		</nav>
        <!-- Masthead-->
        <header >
           <form id="formResultado" action="/cadastro/salvaraluno" method="post" style="width: 1000px; margin-left: 10%;" th:object = "${objdisciplina}"
           				onsubmit="return calcular()? true : false">
           		<br>
					<p>Resultados</p>
				<hr>
				
				<div class="row">
					<div class="form-group col-md-6">
						<label for="nome">Nome do Aluno</label> 
							<select class="form-select" aria-label="Default select example" th:field="*{aluno}">
							  <option th:each = "disc : ${listaalunos}" 
							  th:value="${disc.id}" th:text = "${disc.nome}"></option>
							</select>
					</div>
					
					<div class="form-group col-md-6">
						<label for="escola">Nome da Escola</label> 
							<select class="form-select" aria-label="Default select example" th:field="*{aluno}">
							  <option th:each = "alunos : ${listaalunos}" 
							  th:value="${alunos.id}" th:text = "${alunos.escola}"></option>
							</select>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-6">
						<label for="turma">Turma</label> 
							<select class="form-select" aria-label="Default select example" th:field="*{aluno}">
							  <option th:each = "alunos : ${listaalunos}" 
							  th:value="${alunos.id}" th:text = "${alunos.turma}"></option>
							</select>
					</div>
					
					<div class="form-group col-md-6">
						<label for="observacao">Disciplina</label> 
							<select class="form-select" aria-label="Default select example" th:field="*{disciplina}">
							  <option value="1">Biologia</option>
							  <option value="2">Física</option>
							  <option value="3">Geografia</option>
							  <option value="4">Inglês</option>
							  <option value="5">Matemática</option>
							  <option value="6">Português</option>
							  <option value="7">Química</option>
							</select>
					</div>
				</div>
				
				<hr>
				
				<div class="row">
					<div class="form-group col-md-1">
						<label for="bimestre1">1º Bim.</label> 
							<input type="text" class="form-control" id="bimestre1" name="bimestre1" th:field="*{bimestre1}"
							maxlength="2"/>
					</div>
					
					<div class="form-group col-md-1">
						<label for="bimestre2">2º Bim.</label> 
							<input type="text" class="form-control" id="bimestre2" name="bimestre2" th:field="*{bimestre2}"
							maxlength="2"/>
					</div>
					
					<div class="form-group col-md-1">
						<label for="bimestre3">3º Bim.</label> 
							<input type="text" class="form-control" id="bimestre3" name="bimestre3" th:field="*{bimestre3}"
							max="2"/>
					</div>
					
					<div class="form-group col-md-1">
						<label for="bimestre4">4º Bim.</label> 
							<input type="text" class="form-control" id="bimestre4" name="bimestre4" th:field="*{bimestre4}"
							maxlength="2"/>
					</div>
					
					<div class="form-group col-md-1">
						<label for="total">Total</label> 
							<input type="text" class="form-control" id="total" name="total" th:field="*{total}" readonly="readonly"/>
							
					</div>
					
					<div class="form-group col-md-1">
						<label for="media">Média</label> 
							<input type="text" class="form-control" id="media" name="media" th:field="*{media}" readonly="readonly"/>
					</div>
					
					<div class="form-group col-md-6">
						<label for="resultado">Resultado</label> 
							<input type="text" class="form-control" id="resultado" name="resultado" readonly="readonly"/>
					</div>
					
					
					 <input type="hidden" id="id" name="id" >
				</div>
				<br>
				<a href="">
					<button type="submit" class="btn btn-warning" style="width: 200px;" onclick="calcular()">Calcular</button>
				</a>
				
				<a href="">
					<button type="button" class="btn btn-danger" style="width: 200px;" onclick="LimparCampo()">Limpar</button>
				</a>
           </form>
           
        </header>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    </body>

<script type="text/javascript">
	
	function calcular() {
		
		var valor1 = document.getElementById('bimestre1').value;
		var valor2 = document.getElementById('bimestre2').value;
		var valor3 = document.getElementById('bimestre3').value;
		var valor4 = document.getElementById('bimestre4').value;
		
		var soma = parseInt(valor1) + parseInt(valor2) + parseInt(valor3) + parseInt(valor4);
		var media = soma/4;
		var reprovado = "REPROVADO!!!";
		var aprovado = "APROVADO!!!";
		var nenhum = "OS VALORES DAS NOTAS ESTÃO INCORRETOS!!!"
		
		document.getElementById("total").value = soma;
		document.getElementById("media").value = media;
				
		if (media >= 0 && media < 7) {
			document.getElementById("resultado").value = reprovado;
		} 
		
		if (media >= 7 && media <=10) {
			document.getElementById("resultado").value = aprovado;
		}
		
		if (media > 10){
			document.getElementById("resultado").value = nenhum;
		}
				
		return false;
		
	}
	
	function limparCampos() {
		var elementos = document.getElementById('formResultado').elements;
		for (p = 0; p < elementos.length; p ++) {
			elementos[p].value = '';
		}
	}

</script>   

</html>
