<html lang="en" class="light-style layout-menu-fixed" dir="ltr"
	data-theme="theme-default" data-assets-path="../assets/"
	data-template="vertical-menu-template-free"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/layout}">


<div class="container-xxl flex-grow-1 container-p-y"
	layout:fragment="corpo">

	<div>
		<form action="/pesquisardisciplina" method="post" id="pesquisardisciplina">
			<div class="row">
				<div class="col-04 col-md-6 order-md-1 order-last">
					<h3>Tabela de Disciplinas</h3>
				</div>

				<div class="col-08 col-md-6 order-md-1 order-last">
					<input type="text" id="nomepesquisa" name="nomepesquisa">
					<button class="btn btn-success">Pesquisar</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col-lg-12 mb-4 order-0">
			<div class="card">
				<div class="d-flex align-items-end row">
					<div class="row">
						<div class="card-body">
							<a href="/disciplina/cadastrardisciplinas">
								<button type="button" class="btn btn-success">Cadastrar
									Disciplinas</button>

							</a>
						</div>
					</div>

					<section class="section">
						<div class="card">
							<div class="card-body">
								<table class='table table-striped' id="table1">
									<thead>
										<tr>
											<th>#</th>
											<th>Descrição</th>
											<th>Ação</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="disciplinas : ${listardisciplinas}">
											<td th:text="${disciplinas.id}"></td>
											<td th:text="${disciplinas.discricaoDisciplina}"></td>
											<td><a type="button" class="badge bg-success"
												th:href="@{/disciplina/editardisciplina/{id}(id=${disciplinas.id})}">Editar</a>
												<a type="button" data-toggle="modal"
												th:attr="data-target='#remover_'+${disciplinas.id}"> <i
													class="badge bg-danger">Excluir</i>
											</a> <!-- INICIO DO MODAL DE CONFIRMAÇÃO DE EXCLUSÃO-->
												<div class="modal fade" th:id="remover_+${disciplinas.id}"
													tabindex="-1" role="dialog" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered"
														role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLongTitle">Confirmação</h5>
																<button type="button" class="close" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<p>Tem certeza que quer remover a disciplina?</p>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-dismiss="modal">Não</button>
																<a type="button" class="btn btn-primary"
																	th:href="@{/disciplina/deletardisciplina/{id}(id=${disciplinas.id})}">Sim</a>
															</div>
														</div>
													</div>
												</div></td>
											<!-- FIM DO MODAL -->
										</tr>

									</tbody>
								</table>
							</div>
						</div>
						<!-- INICIO DE PAGINAÇÃO -->
						<div class="col s12" style="margin-top: 30px;">
							<center>
								<span> <a
									th:href="@{/disciplinaspage(page=${listardisciplinas.number - 1}, size=${listardisciplinas.size})}">[Anterior]</a>
								</span>

								<th:block
									th:each="i : ${#numbers.sequence(0, listardisciplinas.totalPages - 1)}">
									<a
										th:href="@{/disciplinaspage(page=${i}, size=${listardisciplinas.size})}">[[
										${i} + 1 ]]</a>
								</th:block>

								<span> <a
									th:href="@{/disciplinaspage(page=${listardisciplinas.number + 1}, size=${listardisciplinas.size})}">[Próximo]</a>
								</span>
							</center>
						</div>
					</section>

					<div class="col-sm-5 text-center text-sm-left">
						<div class="card-body pb-0 px-0 px-md-4"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
</html>
